/* src/components/Modal.css*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 12, 156, 0.1);
  position: relative;
  width: 90%;
  max-width: 350px;

}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.text-xxs {
  font-size: 0.6rem; /* Esto es más pequeño que text-xs, que es 0.75rem */
}